*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    box-sizing: border-box;
    background-color: #eee;

    font-family: sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.eng {
    font-family: 'Lato' !important;
}