.address {
    list-style-type: none;
    margin-bottom: 40px;

    li {
        font-family: 'BPG Algeti';
        font-size: 1.2rem;
        color: #242424;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        @media only screen and (max-width: 400px) {
            font-size: 1.1rem;
        }

        a {
            font-family: inherit;
            font-size: inherit;
            color: inherit;
        }

        svg {
            display: inline-block;
            margin-right: 8px;
            fill: #6e6e6e;
            width: 18px;
        }
    }
}

.folium-map {
    position: relative;
    width: 100%;
    height: 439px;
    left: 0%;
    top: 0%;

    border: 1px solid rgb(194, 194, 194);
}