.grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    column-gap: 20px;
    row-gap: 20px;

    @media only screen and (max-width: 400px) {
        grid-template-columns: 1fr;
    }

    &__item {
        padding: 15px;
        background-color: #fcfc62;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;

        figure {
            height: 200px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &>div {
            display: flex;
            flex-direction: column;
        }

        h3 {
            color: #242424;
            font-family: 'Lato', sans-serif;
            font-size: 2rem;
            margin-top: 10px;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 400px) {
                font-size: 1.5rem;
            }

            img {
                margin-left: 5px;
                max-height: 40px;
            }
        }

        p {
            font-family: 'BPG Algeti';
        }

        a {

            &:link,
            &:visited {
                margin-top: auto;
                display: block;
                font-size: 1.1rem;
                font-family: 'Lato', sans-serif;
                color: #242424;
                text-decoration: underline;
                transition: all .1s linear;
                word-break: break-all;
            }

            &:hover,
            &:active {
                color: #0344a7;
            }
        }
    }
}