.nav {
    margin-left: auto;

    @media only screen and (max-width: 860px) {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-bottom: 0;
    }

    li {

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    a {

        &:link,
        &:visited {
            font-family: 'BPG Algeti';
            font-size: 1.1rem;
            color: #eee;
            text-decoration: none;
            display: block;
            transition: all .1s linear;
        }

        &:hover,
        &:active {
            color: rgb(255, 254, 175);
        }
    }
}


.language {
    margin-left: 40px;

    a {

        &:link,
        &:visited {
            font-family: 'BPG Algeti';
            font-size: 1.1rem;
            text-decoration: none;

            background-color: #fcfc62;
            color: #242424;
            padding: .3em .5em;
            border-radius: 2px;
            display: block;
            transition: all .1s linear;
        }

        &:hover,
        &:active {
            background-color: rgb(255, 254, 175);
        }
    }
}