.nav {

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-bottom: 0;
    }

    li {

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    a {

        &:link,
        &:visited {
            font-family: 'BPG Algeti';
            font-size: 1.1rem;
            color: #eee;
            text-decoration: none;
            display: block;
            transition: all .1s linear;
        }

        &:hover,
        &:active {
            color: rgb(255, 254, 175);
        }
    }
}